:root {
  --font-family-main: -apple-system, BlinkMacSystemFont, sans-serif;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;

  --line-height-xs: 14px;
  --line-height-s: 16px;
  --line-height-m: 21px;

  --font-size-xs: 11px;
  --font-size-s: 14px;
  --font-size-m: 15px;

  --color-background-primary: #E9EDF3;
  --color-background-secondary: #F1F4F9;

  --color-text-primary: #122945;
  --color-text-secondary: #5E7793;
  --color-text-green: #00A775;

  --color-blue: #ADBFDF;
  --color-dark-blue: #005FF8;
  --color-light-blue: #D8E4FB;

  --color-red: #EA1A4F;
  --color-light-red: #FEE9EF;

  --color-green: #28A879;
  --color-light-green: #DBF8EF;
}