.player {
  width: 352px;
  padding: 12px 18px;
  background-color: #DEE4FF;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  transform-origin: right;

  animation: show-audio .2s ease-out;

  &[data-disabled=true] {
    opacity: 0.5;
    pointer-events: none;
  }

  .controlBtn {
    all: unset;
    color: #ADBFDF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .1s ease-in-out;

    &:hover {
      color: #002CFB;
    }
  }

  .audioLength {
    color: #122945;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-regular);
  }
}

@keyframes show-audio {
  from {
    transform: scaleX(.2);
  }
  to {
    transform: scaleX(1);
  }
}
