.root {
  border-spacing: 0;
  width: 100%;
  padding-bottom: 40px;
}

.cell {
  padding: 8px 0;
}


.headCell {
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
  font-size: var(--font-size-s);

  .headCellContent {
    display: inline-block;
    position: relative;
    padding-right: 22px;


    .icon {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

th {
  cursor: default;

  &[data-sortable=true] {
    cursor: pointer;
  }
}

th:first-child {
  padding-left: 40px;
}

th:last-child {
  padding-right: 19px;
}

tr {
  height: 65px;
}

tbody tr {
  position: relative;


  &::after {
    content: '';
    position: absolute;
    left: 40px;
    right: 0;
    z-index: 1;
    background-color: #dbdfec;
    height: 1px;
  }

  &:hover {
    background-color: #D4DFF32B;
  }
}

.type {
  padding-left: 40px;
  width: 94px;
}

.time {
  width: 88px;
}

.employee {
  width: 129px;
}

.call {
  width: 325px;
}

.source {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
  width: 214px;
}

.grade {
  width: 175px;
}

.duration {
  padding-right: 40px;
}