.container {
  width: 1440px;
  margin: 80px auto;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.type {
  padding-left: 40px;
  width: 94px;
}

.time {
  width: 88px;
}

.employee {
  width: 129px;
}

.call {
  width: 325px;
}

.source {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
  width: 214px;
}

.grade {
  width: 175px;

  .error {
    color: var(--color-red);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-regular);
  }
}

.duration {
  padding-right: 40px;
}